.header_view {
    background-color: rgb(250, 250, 250);
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0 16px;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .separator {
        flex-grow: 1;
    }
}

.header_view .control_buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;

    button {
        padding: 0;
        height: 14px;
        width: 14px;
        border-width: 1px;
        border-style: solid;
        box-shadow: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            opacity: 0;
        }

        &.close {
            background: #ED695E;
            border-color: #D24F43;

            svg {
                color: #D24F43;
            }
        }

        &.minimize {
            background: #F6BD50;
            border-color: #D8A040;

            svg {
                color: #D8A040;
            }
        }

        &.maximize {
            background: #61C354;
            border-color: #51A73E;
            svg {
                color: #51A73E;
            }
        }
    }

    &:hover {
        svg {
            opacity: 1 !important;
        }
    }
}

.header_view .logo {
    padding: 4px 32px;
}

.header_view .top_menu {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .menu_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }
}
