@font-face {
  src: url('./fonts/AvenirLTStd-Book.otf');
  font-family: 'AvenirRegular';
}

@font-face {
  src: url('./fonts/AvenirLTStd-Medium.otf');
  font-family: 'AvenirMedium';
}

@font-face {
  src: url('./fonts/AvenirLTStd-Heavy.otf');
  font-family: 'AvenirHeavy';
}

body {
  margin: 0;
  font-family: 'AvenirMedium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  box-shadow: none !important;
}

.add-confirm-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 8px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  gap: 8px;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.heading-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.dialog-content {
  width: 600px;
}

@media screen and (max-width: 767px) {
  .flex-container > * {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .add-confirm-form {
    flex-direction: row;
  }
  .flex-container {
    flex-direction: row;
    align-items: stretch;
  }
}

.MuiDataGrid-columnHeaderTitle {
  font-family: 'AvenirHeavy', sans-serif;
}

@keyframes tbot {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.notistack-container-dark {
  background: #151515;
  padding: 8px 14px;
  border-radius: 24px;
  right: 90px !important;
  bottom: 90px !important;
}

.notistack-container-light {
  background: #f5f5f5;
  padding: 8px 14px;
  border-radius: 24px;
  right: 90px !important;
  bottom: 90px !important;
}

.notistack-CollapseWrapper {
  padding: 8px 0;
}

.notistack-SnackbarContainer > ::before {
  content: '';
  position: absolute;
  bottom: -60px;
  right: -60px;
  animation: tbot 0.5s ease-in-out;
  animation-iteration-count: 0;
  background-image: url('../assets/tbot.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}
