---
# Runs daily
name: Security audit

'on':
  schedule:
    - cron: "27 04 * * *"
  # Run manually
  workflow_dispatch:

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: check environment
        run: |
          node -v
          npm -v
          yarn -v

